<div class="gangsta-wrapper">
  <header>
    <img class="logo" src="http://adtime.at/img/marker30x30.png" alt="logo"> <span>TrackZ</span>
  </header>
  <div class="row track__container">
      {{googlemaps-component markers=model.points class="map__container track__container-map"}}
    <div class="track__sidebar">
      <div class="track__sidebar-body">
        <h1>Hey you! </h1>
        <p>Someone shared a track with you. Keep this page open to receive realtime position updates.</p>
        <h1>What is TrackZ?</h1>
        <p>TrackZ is a realtime position streaming service with focus on simplicity and privacy. Every track is only defined by the url you share and gets deleted after a week by default.</p>
      </div>
    </div>
  </div>
  <footer>As not yet seen on: <a target="_blank" href="https://twitter.com/intent/tweet?text=%40mashable%20check%20out%20www.track.io%20it%27s%20awesome!"><img height="15px" alt="Mashable" role="mashable" class="mashable" src="http://adtime.at/img/mashable.png"></a></footer>
</div>